# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build
dist/
build/

# Environment variables
.env
.env.*.local

# Firebase service account key
firebase/firebase-admin-key.json

# IDE / OS
.DS_Store
.idea/
.vscode/
Thumbs.db

# Logs
logs/
*.log
